[user]
	email = vasiliev.work1@gmail.com
	name = vaspadi
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
  line-numbers = true
  true-color = always
  commit-decoration-style = ol
  ; side-by-side = true
  file-decoration-style = box
  hunk-header-style = line-number gray
  hunk-header-decoration-style = none
[merge]
	conflictStyle = zdiff3
[diff]
  colorMoved = default

